*, body {
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

// centering

.horizon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
  display: block;
}

.intro {
  padding: 2rem;
  @include dead-center(689px, 360px);
  background: $trans-black;
  border: 0.75rem $trans-brand solid;
  @include breakpoint(small) {
    @include dead-center(320px, 480px);
    padding: 1rem 1rem;
  }
}

.descriptions {
  background: $gray;
}

.signup {
  background-color: $gray;
  padding: 3rem 2rem 1rem;  
  &-intro {   
    padding: 2rem 0rem;
    background: $gray;
    p {
      font-size: 2rem;
      color: darken($brand, 20%);
      font-weight: $light-text;  
      text-align: center;
      span.bold {
        font-weight: $heavy-text;
      }    
    }
  }
  &-form {
    padding-top: 2rem;
    position: absolute;
    height: 600px;
    min-width: 100% !important;
  }
   &-form-background {
    @extend .intro;    
    @include dead-center(601px, 360px);
    @include breakpoint(small) {
      @include dead-center(320px, 480px);
      padding: 1rem 1rem;
    }
  }
}

.descriptions {
  padding: 6rem 0rem;
  border-top: 2px $trans-brand solid;
  border-bottom: 2px $trans-brand solid;
  &-tour {
    background: $gray;
    padding: 4rem 0rem;
  }
  &-know {
    background: $gray;
    padding: 4rem 0rem; 
  }
}