*, body {
}

hr {
	margin: 0;
}

:focus {
	background:white;
}

.vcard {
	border:none;
	padding: 0;
	margin: 0;
	display: block;
}

.hidden {
	display: none !important;
}

// centering

.horizon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  visibility: visible;
  display: block;
}

.intro {
  padding: 2rem;
  @include dead-center(689px, 360px);
  background: $trans-black;
  border: 0.75rem $trans-brand solid;
}

.descriptions {
  background: $gray;
}

.signup {
  background-color: $gray;
  padding: 3rem 2rem 1rem;
  &-intro {   
    p {
      font-size: 1.25rem;
      font-weight: $light-text;  
      span.bold {
        font-weight: $heavy-text;
      }    
    }
  }
}

.descriptions {
  padding: 0rem;
}

.descriptions {
  margin: 1rem 0rem;
  &-tour {
    background: $gray;
    padding: 4rem 0rem;
    border-right: 3px solid $trans-brand;
  }
  &-know {
    background: $gray;
    padding: 4rem 0rem; 
  }
}