.signup-form {
  &-required {
    font-size: 0.75rem;
    color: #999;
  }
}

.required.name, .required.email {
  height: 3rem;
  // border: none;
  // box-shadow: none;
}

.mc-field-group {
  @include breakpoint(small) {
    padding-left: 0;
    padding-right: 0;
  }
}