.landing-background {
  background: url(https://s3.amazonaws.com/questernyc/soho-dark.gif) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: none;
  margin: 0;
  padding: 0;
  height: 100%;
}