<!-- navigation -->
<div class="navigation" ng-controller="MainController">
  <div class="fixed navigation">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1 class="branding-title"><span class="q">Q</span></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a class="button" href="/">signup</a>
          </li>
        </ul>
        <!-- Left Nav Section -->
      </section>
    </nav>
  </div>
</div> 