/* ============================ 
	Colors
============================ */

$brand: hsla(190,63,73%,1);

/* ============================ 
	Typography
============================ */

$body-font: "pragmatica-web", Helvetica, Arial, sans-serif;
$text-font: "minion-pro", Times, serif;

$heavy-text:900;
$medium-text:400;
$light-text:200;

$underline: 0.0625rem dotted;

/* ============================ 
	Borders
============================ */


/* ============================ 
	Backgrounds
============================ */